$font-family: Raleway,Helvetica,Arial,sans-serif;
$nielsen-blue-color: #1daeeb;
$white-color: #FFF;
$black-color: #000;
$dark-gray-color: #646262;
$darker-gray-color: #333645;
$blue-color: #2897D0;
$page-min-width: 1200px;
$page-background: #f6f6f6;
