@import '../../../../../../../stylesheets/modules/theme.scss';

.breadcrumb {
  margin-left: 16px;
  margin-bottom: 16px;
}

.breadCrumbLink {
  display: inline-block;
  margin-right: 8px;
  font-weight: bold;

  a {
    font-weight: normal;
  }
}
